$spacer-between-form-groups: 15px;
$spacer-between-form-groups-xs: 10px;
$min-height-inputs: 46px;

%labelFormGroup {
  margin: 0;
  color: $black;
  margin-bottom: 5px;
  font-size: 14px;
  display: inline-block;
}

input,
select,
textarea,
.inputHelper {
  color: $black;
  border: 1px solid $black;
  @include border-radius(0);
  @include box-shadow(none);
  min-width: 0;
  line-height: 20px;
  display: block;
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
  padding: 9px 15px;

  @media (min-width: $screen-sm) {
    padding: 10px 20px;
    line-height: 22px;
    border-width: 2px;
  }

  &:not(:disabled) {
    &:active, &:focus {
      outline: 0;
      border-color: $brand-primary;
    }
  }

  &.error {
    border-color: $brand-danger;
  }

  &:disabled {
    background-color: $light-gray;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="file"] {
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
  min-height: 75px;
}

.select_body {
  background-color: #ffffff;
  cursor: pointer;
  display: block;
  position: relative;

  &:after {
    content: $angle-down;
    font-family: "icons";
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    color: $black;
    pointer-events: none;
    transform: translateY(-50%);

    select {
      color: $black;
      cursor: pointer;
      padding-right: 50px;
      appearance: none;
      display: block;
      width: 100%;

      &::-ms-expand {
        display: none;
      }
    }

    &.focus {
      select {
        border-color: $brand-action;
      }
    }

    &.disabled {
      select {
        cursor: default;
      }
    }
  }

  .form-group {
    margin-bottom: $spacer-between-form-groups;

    input,
    textarea,
    .select_body {
      width: 100%;
    }

    label {
      @extend %labelFormGroup;
    }

    .btn-primary {
      width: auto;
      border: 0;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: $spacer-between-form-groups-xs;
    }
  }

  .specialradiobox,
  .specialcheckbox {
    position: relative;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    padding-left: 45px;
    color: $text-base;
    margin-bottom: 0 !important;

    i {
      font-style: normal;
      position: absolute;
      left: 0;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border: 1px solid $black;
      border-radius: 50%;
      top: 50%;
      margin-top: -15px;
      display: block;
      pointer-events: none;
      margin-bottom: 0;
      font-family: $font-family-base;

      @media (min-width: $screen-sm) {
        border-width: 2px;
      }

      &:after {
        content: " ";
        pointer-events: none;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 4px;
        top: 4px;
        opacity: 0;
        background-color: $black;
        border-radius: 50%;
        display: block;

        @media (min-width: $screen-sm) {
          width: 18px;
          height: 18px;
        }
      }
    }

    input {
      position: absolute;
      width: 0;
      opacity: 0;
      cursor: pointer;
      margin: 0;

      &:checked {
        & + i {
          &:after {
            opacity: 1;
          }
        }
      }

      &:disabled {
        & + i {
          &:after {
            color: lighten($black, 30);
          }
        }
      }
    }

    &:active {
      color: $brand-primary;

      i {
        &:after {
          opacity: 0.7;
        }
      }

      input {
        &:disabled {
          &:not(:checked) {
            & + i {
              &:after {
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }

  &.disabled {
    cursor: default;
    color: $text-base;
  }
}

.specialradiobox,
.specialcheckbox {
  position: relative;
  line-height: 30px;
  display: inline-block;
  cursor: pointer;
  padding-left: 45px;
  color: $text-base;
  margin-bottom: 0 !important;

  i {
    font-style: normal;
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid $black;
    border-radius: 50%;
    top: 50%;
    margin-top: -15px;
    display: block;
    pointer-events: none;
    margin-bottom: 0;
    font-family: $font-family-base;

    @media (min-width: $screen-sm) {
      border-width: 2px;
    }

    &:after {
      content: " ";
      pointer-events: none;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 4px;
      top: 4px;
      opacity: 0;
      background-color: $black;
      border-radius: 50%;
      display: block;

      @media (min-width: $screen-sm) {
        width: 18px;
        height: 18px;
      }
    }
  }

  input {
    position: absolute;
    width: 0;
    opacity: 0;
    cursor: pointer;
    margin: 0;

    &:checked {
      & + i {
        &:after {
          opacity: 0;
        }
      }
    }

    &:disabled {
      & + i {
        &:after {
          color: lighten($black, 30);
        }
      }
    }
  }

  &:active {
    color: $brand-primary;

    i {
      &:after {
        opacity: 0.7;
      }
    }

    input {
      &:disabled {
        &:not(:checked) {
          & + i {
            &:after {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  &.disabled {
    cursor: default;
    color: $text-base;
  }
}

.specialcheckbox {
  i {
    border-radius: 0;

    &:after {
      content: $check;
      font-family: "icons";
      color: $brand-primary;
      top: 0;
      left: 0;
      opacity: 0;
      line-height: 28px;
      font-size: 26px;
      width: 26px;
      text-align: center;
      background-color: transparent;
    }
  }

  input {
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
  }
}

.form-group {
  margin-bottom: $spacer-between-form-groups;

  input,
  textarea,
  .select_body {
    width: 100%;
  }

  &.has-danger {
    input {
      border-color: $brand-danger;
      color: $brand-danger;
    }
  }

  label {
    @extend %labelFormGroup;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: $spacer-between-form-groups-xs;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $white inset !important;
}

#kc-form-buttons {
  .specialcheckbox {
    margin-top: $spacer-between-form-groups;

    @media (max-width: $screen-xs-max) {
      margin-top: $spacer-between-form-groups-xs;
    }
  }
}