
.alert {
  @include box-shadow($shadow);
  padding: $spacer-base $spacer-small;
  padding-left: 45px;
  margin-bottom: $spacer-base*2;
  border: 1px solid $light-gray;
  border-left-width: 3px;
  font-weight: $font-weight-semi-bold;
  position: relative;

  .pficon {
    position: absolute;
    left:$spacer-base;
    top:50%;
    @include transform(translateY(-50%));
    border: 1px solid $light-gray;
    width: 26px;
    height:26px;
    @include border-radius(50%);
    font-size: 20px;
    text-align: center;
    line-height: 24px;
  }

  &-error {
    border-color: $brand-danger;
    color: $brand-danger;

    .pficon {
      border-color: $brand-danger;
    }
  }
}