.icon {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.icon-close {
  &:before {
    content: $close;
  }
}

.pficon-error-circle-o {
  &:before {
    content: $close;
  }
}