
.login-pf-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacer-large;
  background-color: $black;
  background-image: url("../../img/bg.jpg");
  background-position: center top;

  @media (max-width: $screen-xs) {
    padding: $spacer-base*2;
  }
}

.card-pf {
  width: 400px;
  max-width: 100%;
  background-color: $white;
  padding: 0 $spacer-large $spacer-base*2 $spacer-large;
  margin-top: 50px;

  @media (max-width: $screen-xs) {
    padding: $spacer-base*2;
    padding-top: 0;
  }
}

.loginLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 70px;

  .logo {
    max-width: 105px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.login-pf-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: $screen-sm) {
    margin-bottom: 30px;
  }

  #kc-locale {
    order: 1;
  }

  h1 {
    margin-bottom: 0;
  }
}

#kc-registration {
  margin-top: 15px;
  text-align: center;

  a {
    color: $brand-primary;
  }
}

.login-pf-settings {
  margin-top: 15px;
  text-align: center;
}